<table class="zebra-striped">
  <tr>
    <th>Status</th>
    <th>Name</th>
    <th>Responsible</th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.status %></td>
    <td><%= link_to ticket.name, ticket %></td>
    <td><%= ticket.user.name %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) if ticket.user.username == current_user.username %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path, :class => "btn" %>
