<p id="notice"><%= notice %></p>

<h3><%= @ticket.name %></h3>

<p><%= @ticket.description %></p>
<hr/>

<% if !@ticket.comments.empty? %>
  <h3>Comments</h3>
  <% for comment in @ticket.comments %>
    <h4><%= comment.username %></h4>
    <p><%= comment.body %></p>
  <% end %>
<% end %>

<hr/>

<%= render :partial => "comment_form" %>